<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <th:block>
        <th:block sec:authorize="isAnonymous()">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/home}">Nina's Shop</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="guestNav">
                        <ul class="navbar-nav ml-auto">
                                <ul class="nav navbar-nav ml-auto">
                                        <a class="nav-link" th:href="@{/home}">Home</a>
                                        <a class="nav-link " th:href="@{/login}">Login</a>
                                        <a class="nav-link " th:href="@{/register}">Register</a>
                                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                                </ul>
                            </ul>
                    </div>
                </div>
            </nav>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <nav>nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                class="navbar navbar-expand-lg navbar-light bg-light"
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    <div sec:authorize="!isAuthenticated()" class="nav-item active">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="nav-item active">
                        <a class="nav-link" th:href="@{/edit}">Edit Profile</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="nav-item active">
                        <a class="nav-link" th:href="@{/products/add}">Add Product</a>
                    </div>
                    <div class="nav-item active">
                        <a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/category}">Category</a>
                    </div>
                <div
                        class="nav-item active">
                    <a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/admin/users}">Edit Roles</a>
                </div>
                    <div class="nav-item active">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/order}">Orders</a>
                </div>

                <div class="nav-item active">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/cart}">Bag</a>
                </div>
                    <div class="nav-item active">
                        <a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/size}">Size</a>
                    </div>
                <div class="nav-item active">
                    <a sec:authorize="!isAnonymous()" class="nav-link" th:href="@{/contact}">Contact</a>
                </div>
                <div class="nav-item active">
                    <div sec:authorize="isAnonymous()" class="nav-item active">
                        <a class="nav-link" th:href="@{/about}">About Nina</a>
                    </div>
                    <div class="nav-item active">
                    <div sec:authorize="isAuthenticated()" class="nav-item active">
                        <a class="nav-link" th:href="@{/advice}"> Good Advice</a>
                    </div>
                    </div>
                </div>
            </nav>
        </th:block>




