body {
    background-color: white;
    color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif ;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0 , 0 ,0.3), rgba(0, 0 , 0 ,0.8)), url("../img/NinaPhotos/pic1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}
.footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.one_product {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width:250px;


}

.one_product_img {
    border-radius: 5px;

}

.one_product_title {
    font-weight: bold;
    margin: 2px;
}

.one_product_description {
    margin: 2px;
}

.one_product_price {
    font-weight: bold;
}

.one_product_buy_link {
    border-radius: 6px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;

}

.one_product_buy_link:hover {
    background-color: white;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton:active {
    background-color: white;
    position:relative;
    top:1px;
}
.myButton:hover {
    background-color:white;
}

.btn btn-primary{
    color: black;
}

.tm-site-title {
    color: black;

}

navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    display: inline;
}

.nav-link{
    display: inline;
}

.important {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/NinaPhotos/pic1.jpg");

}

