body {
    background-color: white;
    color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif ;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0 , 0 ,0.3), rgba(0, 0 , 0 ,0.8)), url("../img/NinaPhotos/pic1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

.container {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.one_product {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width:250px;


}

.one_product_img {
    border-radius: 5px;

}

.one_product_title {
    font-weight: bold;
    margin: 2px;
}

.one_product_description {
    margin: 2px;
}

.one_product_price {
    font-weight: bold;
}

.one_product_buy_link {
    border-radius: 6px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;

}

.one_product_buy_link:hover {
    background-color: white;
}

.myButton:active {
    position:relative;
    top:1px;
}

.myButton:active {
    background-color: white;
    position:relative;
    top:1px;
}
.myButton:hover {
    background-color:white;
}

.btn btn-primary{
    color: black;
}

.tm-site-title {
    color: black;

}

navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40px
}


.li {
    display: inline;
}

.nav-link{
    display: inline;
}

.important {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/NinaPhotos/pic1.jpg");

}

.navbar{
    display: flex;
    margin: auto;
}
.nav-item {

}

.nav-item:hover {
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
.nav-item:active {
    transform: translateY(4px);
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }
    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }
    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}
.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}


textarea {
    resize: none;
}


.footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.error-color{
    text: red;
}

.btn{
    color: palevioletred;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

btn-primary{
    color: palevioletred;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.col-md-3 {
    color: white;

}

.col-md-2{
    color: white;
}

.head{
    text-align: center;
}

.col-md-12{
    color: white;
}

.table table-bordered{
    color: white;
}
.th{
    color: white;
}
.rowColor{
    color: white;
}

.colour{
    color: white;
}
.nav-link {
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
}

.nav-link:hover {
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}




