<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{/fragments/navbar}"></th:block>
    </nav>
</header>

<body>
<label>
<h1 th:class="colour">Company Overview</h1>
<p>Nina Todorova is from the young generation of designers who boldly experiment with the fashion tastes of their fans.
    She graduated from a technical school for clothing, and then from NBU - majoring in Fashion.
    <p>He shares that the passion for fashion comes gradually. First she became interested in painting, then her interest in other nationalities, their way of life, culture and clothing arose. </p>
    <p>From the student bench she immediately entered the world of fashion design and began to actively engage in fashion shows and exhibitions.</p>
    </label>
<h2 th:class="colour">Products</h2>
    <p>Designer Nina Todorova makes luxury formal clothes, prom dresses, artistic and stage costumes, wedding dresses, casual dresses, non-standard youth fashion. </p>
   <p> Designer accessories - non-standard bags, belts, gloves, shoes, boots.</p>
</div>
<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</div>
</html>