<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Nina Todorova</title>
</head>
<body>
<div>
<label>
<h1 class="intro">Company Overview</h1>
<p>Nina Todorova is from the young generation of designers who boldly experiment with the fashion tastes of their fans.
    She graduated from a technical school for clothing, and then from NBU - majoring in Fashion.
    <p>He shares that the passion for fashion comes gradually. First she became interested in painting, then her interest in other nationalities, their way of life, culture and clothing arose. </p>
    <p>From the student bench she immediately entered the world of fashion design and began to actively engage in fashion shows and exhibitions.</p>
    </label>
<h2 class="important">Products</h2>
    <p>Designer Nina Todorova makes luxury formal clothes, prom dresses, artistic and stage costumes, wedding dresses, casual dresses, non-standard youth fashion. </p>
   <p> Designer accessories - non-standard bags, belts, gloves, shoes, boots.</p>
</div>
</body>
</html>