<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good advice</title>
</head>
<body>
<!-- ><div style="background-image:  url("/img/NinaPhotos/pic1.jpg")><!-->
    <label class="advice">
        <h1 class="intro">Tiny tips before the long-awaited prom</h1>
        <h2>Ten</h2>
        <p>You can get a light tan with a solarium (which is not very recommended) or with detergents.  </p>
        <p>From the student bench she immediately
            entered the world of fashion design and began to actively engage in fashion shows and exhibitions.</p>
        <p>But here we must emphasize that if you have not used them before, it is not highly recommended to experiment
        so as not to have the opposite effect.</p>
        <p>It is also good to know that some products are not suitable for very light and thin skin.</p>
        <p>After all, the milky white skin has been sung more than once by both artists and designers.</p>
    </label>
    <h3>Trial makeup</h3>
    <p>You have probably already decided whether to do it yourself or turn to a professional. If you are betting on your skills, it is good to buy and try the decorative means from now on,
        because it is possible that they will create an unpleasant reaction if the skin is sensitive. </p>
    <p> That's why it's a good idea to try them on and practice applying makeup to stay calm and confident when the Big Day comes.
        It is not good to use cosmetics for the first time on the day of the ball, due to the possibility of an allergic reaction, buy it earlier and use it 2015-Prom-Hairstyles-Braided-Prom-Hair-Ideas-2several
        times to check how reacts</p>
    <h4>Trial hairstyle</h4>
    <p>It's more a question of aesthetics and whether the hairstyle you liked on the Internet or on the pages of
        a glamorous magazine is actually suitable for your face shape.</p>
    <p>And it really fits and complements your solemn image or rather the opposite. For this it is good to have your own backup option or a small ranking
        with first, second and third, as well as a consultation with a stylist.</p>
    <h5>Treading on shoes</h5>
    <p>A very important and healthy rule (recommended by afflicted people). Don't leave your shoes on for the day of the prom.
        Pre-crush them for ten minutes a day.</p>
</div>
</body>
</html>