<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<form th:action="@{/login}" th:method="post">

   <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="" aria-describedby="helpId" placeholder="Put your username">
          <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="" aria-describedby="passwordHelpId" placeholder="Put your password here">
          <!-- <small id="emailHelpId" class="form-text text-muted">Help text</small> -->
        </div>
    </div>
</div>
   </div>
    

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </div>

</form>

</body>
</html>