<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block th:include="~{/fragments/navbar}"></th:block>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <form th:action="@{/login}" th:method="post" th:object="${userLoginBindingModel}">

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input th:value="${username}" th:errorclass="bg-danger" type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Put your username">
                            <small th:each="error : ${#fields.errors('username')}"
                                   th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input th:value="${password}" th:errorclass="bg-danger" type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelpId" placeholder="Put your password here">
                            <small  th:each="error : ${#fields.errors('password')}" th:text="${error}" class="form-text text-muted">Help text</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mt-8">
                        <button type="submit" class="btn btn-primary d-inline-block mx-auto">Login</button>
                    </div>
                </div>
            </form>
            <footer class="row">
                <th:block th:include="~{/fragments/footer}"></th:block>
            </footer>
</body>

</html>