<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>

<th:block th:each="product: ${allProducts}">
    <div class="container">
        <div class="row">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="${product.getUrl()}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.getName()}">Card title</h5>
                    <p class="card-text" th:text="${product.getDescription()}"></p>
<!--                    <p class="card-text" th:text="${product.getCategory().getCategoryName()}"></p>-->

                    <p class="card-text" th:text="${product.getPrice()}"></p>
                    <a href="#" class="btn btn-primary">Buy Me</a>
                </div>
            </div>


        </div>
    </div>
</th:block>
</body>
</html>