<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<div class="container">
    <div class="row rounded">
        <div class="col-12">
            <nav class="navbar navbar-expand-xl navbar-light bg-light rounded" >
                <th:block th:include="~{/fragments/navbar}"></th:block>
            </nav>
        </div>
    </div>
    <!-- row -->
    <div class="container">
        <!-- left menu -->
                            </div>
                            <div class="col-md-10">
                                <table>
                                    <tr>
                                        <th>Usrname</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                    </tr>
                                    <th:block th:action="@{/profile}" method="POST" th:each="pr : ${user}">
                                        <tr>
                                            <th th:text="${user.getUsername()}"></th>
                                            <th th:text="${user.getEmail()}"></th>
                                            <th th:text="${user.userAddress}"></th>
                                            <th th:text="${user.userPhone}"></th>
                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                            <div class="col-md-2">
                                <!-- right menu -->
                            </div>
                        </div>
                    </div>
    <footer class="row">
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>

</body>

</html>
