<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<div class="container">
    <div class="row rounded">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>
            <main class="mt-3" th:action="@{/profile}" th:method="post">
                <div class="bg-image-profile">
                    <div class="text-center">
                        <img src="https://res.cloudinary.com/dgfiguhlk/image/upload/v1596301246/Female-Side-comb-O-neck-512_r54suc.png" alt="profileImg">
                    </div>
                    <div class="row">
                        <div class="col col-md-12 text-center textForm">
                            <h1 th:text="${user.username}"></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 text-center textForm">
                            <h4 th:text="${user.email}"></h4>
                        </div>
                    </div>
                    <hr class="hr-2 bg-white w-25">
                    <div class="button-holder d-flex justify-content-center">
                        <a th:href="@{/edit}" class="btn" style="font-size:40px">Edit Profile</a>
                    </div>
                </div>
            </main>
        </main>
    <footer class="row">
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>

</body>

</html>
