<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block th:include="~{/fragments/navbar}"></th:block>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <form th:action="@{/admin/users/save}" th:method="post" th:object="${user}">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="tab">User</th>
                        <th class="tab">Role</th>
                        <th class="tab">Actual Role</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td class="tab" scope="row"><span th:text="${user.getUsername()}"></span></td>
                        <td>

                            <div class="form-group">
                                <select class="form-control" name="newRole">
                                    <option class="tab">USER</option>
                                    <option class="tab">ADMIN</option>
                                </select>
                            </div>
                            
                        </td>
                        <td>
                            <p class="tab" th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority()}"></p>
                        </td>
                    </tr>

                </tbody>
            </table>
            <input type="hidden" name="userId" th:value="${user.getId()}">
            <button type="submit" class="btn btn-primary">Update Role</button>
            </form>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>